<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<connectionStrings>
		<add name="2122_INF1b_db3" connectionString="Data Source= 85.190.254.173;
         Initial Catalog= 2122_INF1b_db3; User= 2122_INF1b_groep3; Password= @&amp;-DyS^x8Z=n"/>
	</connectionStrings>
</configuration>
